In [17]:
import numpy as numpy
import pandas as pd

In [28]:
df=pd.read_excel(r'Downloads/dataset1.xlsx')

In [29]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [30]:
df.shape

(32561, 15)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [50]:
#1.	Calculate the mean, median, and standard deviation of the "age" and "hours-per-week" columns. What do these values suggest about the distribution of ages and working hours in the dataset?

In [26]:
age_mean = df["age"].mean()
age_median = df["age"].median()
age_std = df["age"].std()
hours_mean = df["hours-per-week"].mean()
hours_median = df["hours-per-week"].median()
hours_std = df["hours-per-week"].std()
print("Age - Mean:", age_mean, "Median:", age_median, "Standard Deviation:", age_std)
print("Hours per Week - Mean:", hours_mean, "Median:", hours_median, "Standard Deviation:", hours_std)

Age - Mean: 38.58164675532078 Median: 37.0 Standard Deviation: 13.640432553581146
Hours per Week - Mean: 40.437455852092995 Median: 40.0 Standard Deviation: 12.34742868173081

In [22]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [52]:
#2.	Find the distribution of individuals across different "workclass." Which workclass category is the most common?

In [54]:
workclass_counts = df["workclass"].value_counts
print("Distribution of individuals across workclass categories:")
print(workclass_counts)
most_common_workclass = workclass_counts.max()
most_common_count = workclass_counts.max()
print("\nMost common workclass category:", most_common_workclass)
print("Number of individuals in the most common category:", most_common_count)

Distribution of individuals across workclass categories:
<bound method IndexOpsMixin.value_counts of 0               State-gov
1        Self-emp-not-inc
2                 Private
3                 Private
4                 Private
               ...
32556             Private
32557             Private
32558             Private
32559             Private
32560        Self-emp-inc
Name: workclass, Length: 32561, dtype: object>

AttributeError: 'function' object has no attribute 'max'

In [54]:
#4.	How many unique "native-country" values are there in the dataset? Which country has the most individuals represented?

In [48]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [56]:
#3.	Analyze the frequency distribution of "education" levels. What is the most common education level, and how does it correlate with "salary" (<=50K or >50K)?

In [46]:
education_counts = df["education"].value_counts()

print("Distribution of education levels:")
print(education_counts)

most_common_education = education_counts.idxmax()
most_common_education_count = education_counts.max()

print("\nMost common education level:", most_common_education)
print("Number of individuals in the most common education level:", most_common_education_count)
education_salary_correlation = df.groupby(["education", "salary"]).size().unstack()

# Display the correlation between education level and salary
print("\nCorrelation between education level and salary:")
print(education_salary_correlation)

Distribution of education levels:
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

Most common education level: HS-grad
Number of individuals in the most common education level: 10501

Correlation between education level and salary:
salary         <=50K    >50K
education
10th           871.0    62.0
11th          1115.0    60.0
12th           400.0    33.0
1st-4th        162.0     6.0
5th-6th        317.0    16.0
7th-8th        606.0    40.0
9th            487.0    27.0
Assoc-acdm     802.0   265.0
Assoc-voc     1021.0   361.0
Bachelors     3134.0  2221.0
Doctorate      107.0   306.0
HS-grad       8826.0  1675.0
Masters        764.0   959.0
Preschool       51.0     NaN
Prof-school    153.0   423.0
Some-college  5904.0  1387.0

In [58]:
#8.	Analyze the "hours-per-week" distribution for different "occupation" categories. Which occupations tend to have longer working hours?

In [80]:
occupation_hours = df.groupby("occupation")["hours-per-week"].agg(["mean", "median", "max"]).sort_values(by="mean", ascending=False)

print("Hours-per-week distribution for different occupations:")
print(occupation_hours)

longest_working_hours = occupation_hours.head(5)  # Top 5 occupations with longest average working hours
print("\nOccupations with the longest working hours (average):")
print(longest_working_hours)

Hours-per-week distribution for different occupations:
                        mean  median  max
occupation
Farming-fishing    46.989940    40.0   99
Exec-managerial    44.987703    40.0   99
Transport-moving   44.656230    40.0   99
Protective-serv    42.870570    40.0   99
Prof-specialty     42.386715    40.0   99
Craft-repair       42.304221    40.0   99
Sales              40.781096    40.0   99
Machine-op-inspct  40.755744    40.0   96
Armed-Forces       40.666667    40.0   60
Tech-support       39.432112    40.0   99
Handlers-cleaners  37.947445    40.0   95
Adm-clerical       37.558355    40.0   80
Other-service      34.701669    40.0   99
Priv-house-serv    32.885906    35.0   99
?                  31.906131    36.0   99

Occupations with the longest working hours (average):
                       mean  median  max
occupation
Farming-fishing   46.989940    40.0   99
Exec-managerial   44.987703    40.0   99
Transport-moving  44.656230    40.0   99
Protective-serv   42.870570    40.0   99
Prof-specialty    42.386715    40.0   99

In [82]:
#9.	Investigate if there is a significant difference in "hours-per-week" between males and females.

In [88]:
import scipy.stats as stats

gender_hours = df.groupby("sex")["hours-per-week"].agg(["mean", "std", "count"])

print("Average hours-per-week by gender:")
print(gender_hours)
male_hours = df[df["sex"] == "Male"]["hours-per-week"]
female_hours = df[df["sex"] == "Female"]["hours-per-week"]
t_stat, p_value = stats.ttest_ind(male_hours, female_hours, equal_var=False)
print("\nT-test results:")
print("t-statistic:", t_stat)
print("p-value:", p_value)

Average hours-per-week by gender:
             mean        std  count
sex
Female  36.410361  11.811300  10771
Male    42.428086  12.119755  21790

T-test results:
t-statistic: 42.88195043740648
p-value: 0.0